<b><h1>INSY 4054-101 Emerging Technologies</h1><b>
<h3>Group Project: </h3>

In [1]:
# import required libraries

import pandas as pd
import numpy as np
import tensorflow as tf

In [3]:
# read in JSON files data

m_data = pd.read_json('modcloth_final_data.json', lines=True)
r_data = pd.read_json('renttherunway_final_data.json', lines=True)
a_data = pd.read_json('reviews_Clothing_Shoes_and_Jewelry_5.json.gz', lines=True)

# Exploratory Data Analysis

<p>Get to know the data before training and testing.</p>

In [ ]:
# check m_data
m_data.head()

   item_id  waist  size  ...  shoe width review_summary  review_text
0   123373   29.0     7  ...         NaN            NaN          NaN
1   123373   31.0    13  ...         NaN            NaN          NaN
2   123373   30.0     7  ...         NaN            NaN          NaN
3   123373    NaN    21  ...         NaN            NaN          NaN
4   123373    NaN    18  ...         NaN            NaN          NaN

[5 rows x 18 columns]

In [ ]:
# check m_data column names

m_data.columns

Index(['item_id', 'waist', 'size', 'quality', 'cup size', 'hips', 'bra size',
       'category', 'bust', 'height', 'user_name', 'length', 'fit', 'user_id',
       'shoe size', 'shoe width', 'review_summary', 'review_text'],
      dtype='object')

In [ ]:
# change column names - change to m_size

m_data.columns = ['item_id', 'waist', 'm_size', 'quality', 'cup_size', 'hips', 
                  'bra_size', 'category', 'bust', 'height', 'user_name', 'length', 
                  'fit', 'user_id', 'shoe_size', 'shoe_width', 'review_summary', 
                  'review_test']

In [ ]:
# more about m_data

m_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82790 entries, 0 to 82789
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   item_id         82790 non-null  int64
 1   waist           2882 non-null   float64
 2   m_size          82790 non-null  int64
 3   quality         82722 non-null  float64
 4   cup_size        76535 non-null  object
 5   hips            56064 non-null  float64
 6   bra_size        76772 non-null  float64
 7   category        82790 non-null  object
 8   bust            11854 non-null  object
 9   height          81683 non-null  object
 10  user_name       82790 non-null  object
 11  length          82755 non-null  object
 12  fit             82790 non-null  object
 13  user_id         82790 non-null  int64
 14  shoe_size       27915 non-null  float64
 15  shoe_width      18607 non-null  object
 16  review_summary  76065 non-null  object
 17  review_test     76065 non-null  object
dtypes: float64(5), int64(3), object(10)
memory usage: 11.4+ MB

In [ ]:
# check m_data data types

m_data.dtypes

item_id             int64
waist             float64
m_size              int64
quality           float64
cup_size           object
hips              float64
bra_size          float64
category           object
bust               object
height             object
user_name          object
length             object
fit                object
user_id             int64
shoe_size         float64
shoe_width         object
review_summary     object
review_test        object
dtype: object

In [ ]:
# check r_data

r_data.head()

   fit  user_id bust size  item_id  ... height  size    age         review_date
0  fit   420272       34d  2260466  ...  5' 8"    14   28.0      April 20, 2016
1  fit   273551       34b   153475  ...  5' 6"    12   36.0       June 18, 2013
2  fit   360448       NaN  1063761  ...  5' 4"     4  116.0   December 14, 2015
3  fit   909926       34c   126335  ...  5' 5"     8   34.0   February 12, 2014
4  fit   151944       34b   616682  ...  5' 9"    12   27.0  September 26, 2016

[5 rows x 15 columns]

In [ ]:
# check r_data column names

r_data.columns

Index(['fit', 'user_id', 'bust size', 'item_id', 'weight', 'rating',
       'rented for', 'review_text', 'body type', 'review_summary', 'category',
       'height', 'size', 'age', 'review_date'],
      dtype='object')

In [ ]:
# change column names - remove spaces

r_data.columns = ['fit', 'user_id', 'bust_size', 'item_id', 'weight', 'rating',
                  'rented_for', 'review_text', 'body_type', 'review_summary', 'category',
                  'height', 'r_size', 'age', 'review_date']

In [ ]:
# more about r_data

r_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192544 entries, 0 to 192543
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   fit             192544 non-null  object
 1   user_id         192544 non-null  int64
 2   bust_size       174133 non-null  object
 3   item_id         192544 non-null  int64
 4   weight          162562 non-null  object
 5   rating          192462 non-null  float64
 6   rented_for      192534 non-null  object
 7   review_text     192544 non-null  object
 8   body_type       177907 non-null  object
 9   review_summary  192544 non-null  object
 10  category        192544 non-null  object
 11  height          191867 non-null  object
 12  r_size          192544 non-null  int64
 13  age             191584 non-null  float64
 14  review_date     192544 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 22.0+ MB

In [ ]:
# check r_data date type

r_data.dtypes

fit                object
user_id             int64
bust_size          object
item_id             int64
weight             object
rating            float64
rented_for         object
review_text        object
body_type          object
review_summary     object
category           object
height             object
r_size              int64
age               float64
review_date        object
dtype: object

In [4]:
# check a_data
a_data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A1KLRMWW2FWPL4  0000031887  ...     1297468800  02 12, 2011
1  A2G5TCU2WDFZ65  0000031887  ...     1358553600  01 19, 2013
2  A1RLQXYNCMWRWN  0000031887  ...     1357257600   01 4, 2013
3   A8U3FAMSJVHS5  0000031887  ...     1398556800  04 27, 2014
4  A3GEOILWLK86XM  0000031887  ...     1394841600  03 15, 2014

[5 rows x 9 columns]

In [10]:
# check m_data column names

a_data.columns

Index(['reviewerID', 'asin', 'reviewerName', 'helpful', 'reviewText',
       'overall', 'summary', 'unixReviewTime', 'reviewTime'],
      dtype='object')

In [11]:
# more about r_data

a_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278677 entries, 0 to 278676
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewerID      278677 non-null  object
 1   asin            278677 non-null  object
 2   reviewerName    278225 non-null  object
 3   helpful         278677 non-null  object
 4   reviewText      278677 non-null  object
 5   overall         278677 non-null  int64
 6   summary         278677 non-null  object
 7   unixReviewTime  278677 non-null  int64
 8   reviewTime      278677 non-null  object
dtypes: int64(2), object(7)
memory usage: 19.1+ MB

In [7]:
# check r_data date type

a_data.dtypes

reviewerID        object
asin              object
reviewerName      object
helpful           object
reviewText        object
overall            int64
summary           object
unixReviewTime     int64
reviewTime        object
dtype: object

# Machine Learning Model

<p>Now train and test the ML model(s).</p>